body {
	background-color: #444;
	color: #ccc;
	font-family: sans-serif;
	padding: 1rem;

	h1 {
		font-size: 1.7rem;
		margin: 0;
	}

	.bookArea {
		fieldset.error {
			border: 3px solid red;
		}

		fieldset.allowed {
			border: 1px solid #666;
		}

		fieldset.book {
			background-color: #555;
			margin-bottom: 1rem;
			padding: 1rem;
			color: #aaa;
			max-width: 42rem;

			legend {
				font-size: 1rem;
				color: orange;
				font-family: monospace;
			}

			.row {
				display: flex;
				align-content: start;
				margin: 0 0 10px 0;

				label {
					&:after {
						content: ':';
					}

					width: 7rem;
					margin: 0 10px 10px 0;
					font-size: 1.3rem;
					padding: 0.5rem;
				}

				div {
					color: #fff;
					font-size: 1.3rem;
					font-family: monospace;
					color: #000;
					background-color: #5c5c5c;
					padding: 0.5rem;
					border: 1px solid #4c4c4c;
					border-radius: 5px;
				}
			}
		}
	}
}
